*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  padding: 27px 40px 10px 40px;
}

.card-container {
  width: 550px;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: center;
  gap: 19px;
  padding: 18px 0px;
}

.card--image {
  border-radius: 5px;
  width: 125px;
  height: 168px;
  object-fit: cover;
}

.card--location-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}